@model Ihc.Models.Sala

@{
    ViewData["Title"] = "Reservar Sala";
}

<h1>Reservar Sala</h1>

<h4>Sala</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreSala" class="control-label"></label>                
                <select asp-for="NombreSala" class="form-control">
                    <option value="Sala1">Sala 1</option>
                    <option value="Sala2">Sala 2</option>
                    <option value="Sala3">Sala 3</option>
                    <option value="Sala4">Sala 4</option>
                </select>
                <span asp-validation-for="NombreSala" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaHoraInicio" class="control-label"></label>
                <input asp-for="FechaHoraInicio" class="form-control" />
                <span asp-validation-for="FechaHoraInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaHoraFin" class="control-label"></label>
                <input asp-for="FechaHoraFin" class="form-control" />
                <span asp-validation-for="FechaHoraFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreSolicitante" class="control-label"></label>
                <input asp-for="NombreSolicitante" class="form-control" />
                <span asp-validation-for="NombreSolicitante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdSolicitante" class="control-label"></label>
                <input asp-for="IdSolicitante" class="form-control" />
                <span asp-validation-for="IdSolicitante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a Reserva de Salas</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
