@{
    ViewData["Title"] = "Gerencia";
}

<h2>Gerencia</h2>

<p>Vista de Gerencia</p>
<a class="nav-link" asp-area="" asp-controller="Gerencia" asp-action="ArchivoDigitalizacion">Archivo y Digitalización de Cheques</a>
<a class="nav-link" asp-area="" asp-controller="Gerencia" asp-action="CamaraCompensacion">Cámara de Compensación</a>
<a class="nav-link" asp-area="" asp-controller="Gerencia" asp-action="ConsultaEmbargos">Consulta para Trámites de Embargos</a>
<a class="nav-link" asp-area="" asp-controller="Gerencia" asp-action="OutsourcingRecursoHumano">Outsourcing para Colocación de Recurso Humano</a>
<a class="nav-link" asp-area="" asp-controller="Gerencia" asp-action="ServicioMensajeria">Servicio de Mensajería</a>
<a class="nav-link" asp-area="" asp-controller="Gerencia" asp-action="ServiciosTerceroProcesos">Servicios de Tercerización de Procesos de Servicio</a>