@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center" style="text-align: center; margin: auto; position: relative;">
        <h1 class="display-4" style="text-align: center; background-color:darkblue; border: 1px solid grey; border-radius:25px; color: antiquewhite; margin-bottom:15px; max-width: 500px;">Administrativo</h1>

        <h1 class="display-4" style="background-color: darkblue; border: 1px solid grey; border-radius:25px; color: antiquewhite; margin-bottom:15px; max-width: 500px;"><a class="nav-link text-light" asp-area="" asp-controller="Contactoes" asp-action="Index">Contactos</a></h1>

        <h1 class="display-4" style="background-color: darkblue; border: 1px solid grey; border-radius:25px; color: antiquewhite; margin-bottom:15px; max-width: 500px;">Gerencia</h1>

        <h1 class="display-4" style="background-color: darkblue; border: 1px solid grey; border-radius:25px; color: antiquewhite; margin-bottom:15px; max-width: 500px;">Noticias</h1>

        <h1 class="display-4" style="background-color: darkblue; border: 1px solid grey; border-radius:25px; color: antiquewhite; margin-bottom:15px; max-width: 500px;">Outsourcing</h1>

        <h1 class="display-4" style="background-color: darkblue; border: 1px solid grey; border-radius:25px; color: antiquewhite; margin-bottom:15px; max-width: 500px;">Tecnología</h1>
    </div>
