@{
    ViewData["Title"] = "Política de Privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec congue justo, interdum placerat turpis. Etiam nec accumsan urna, ut lacinia arcu. Nunc mollis rutrum tellus. Suspendisse rhoncus congue risus in sagittis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vivamus vulputate metus non magna auctor dictum. Donec commodo viverra efficitur. Praesent in pulvinar augue. Proin interdum lectus eget eleifend tempor. Sed posuere blandit ipsum et egestas. Vestibulum gravida tellus posuere, interdum urna vel, lacinia lectus. Sed enim risus, volutpat et ligula id, volutpat malesuada purus. Integer rhoncus mattis nulla, et eleifend ipsum fermentum ut. Nunc eget felis ut ipsum tristique accumsan sed et diam. Sed et lacus nunc.
</p>
<p>
    Integer lacinia accumsan ex at iaculis. Nunc malesuada metus ac purus tincidunt scelerisque. Duis at luctus risus. Nam vitae hendrerit mauris, ac rhoncus felis. Suspendisse ut nibh nec dolor auctor facilisis. Phasellus dignissim suscipit ligula ac ornare. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut sapien felis, feugiat non elit vel, aliquet fermentum lorem. Nam egestas porta felis, vitae mattis lacus fermentum in. Vivamus tristique dolor ac leo placerat, in ultrices nisl vehicula. Etiam eu orci vulputate, bibendum nunc sed, gravida risus. Proin sit amet vehicula ipsum. Sed eget ultrices diam, non volutpat orci. Aenean vitae dui risus.
</p>
<p>
    Donec eu imperdiet ex, non consectetur arcu. Duis non blandit metus. Duis dapibus, odio sit amet euismod lacinia, eros dui tincidunt velit, ut lacinia nibh diam eget ex. Curabitur pretium gravida auctor. In consectetur ante quis nisl semper, nec viverra sapien fringilla. Suspendisse et pretium ex. Ut rhoncus lorem vitae lectus pulvinar viverra. Duis egestas quis nulla sed interdum. Phasellus sed libero vel felis aliquam ornare lobortis ut elit. Nulla vestibulum ligula justo, sed finibus velit condimentum nec. Cras dictum sem et tellus condimentum, eu porttitor felis interdum. Phasellus et venenatis est. Suspendisse turpis metus, fermentum sit amet dapibus sit amet, maximus euismod ante. Fusce nec leo vel neque eleifend semper tempus quis sem. Praesent ac congue velit.
</p>
<p>
    Aenean non bibendum lacus. Quisque rhoncus enim sit amet ex sollicitudin consectetur. Donec congue velit eu tortor iaculis finibus. Donec sodales metus ut fringilla faucibus. Nunc eleifend malesuada nibh sit amet tincidunt. Cras fringilla libero vitae luctus hendrerit. Proin semper accumsan lacus, id tincidunt quam. Vestibulum odio lorem, sollicitudin eget viverra non, luctus at elit.
</p>
<p>
    Vivamus ornare, nunc in aliquam viverra, sapien turpis blandit ligula, ac mollis leo metus sit amet lectus. Sed sed diam massa. Integer egestas ex nec elementum vehicula. Ut mollis, mauris vel pellentesque condimentum, ipsum orci auctor sapien, nec sagittis magna turpis quis turpis. Maecenas eget sem auctor, pharetra tortor sit amet, porta eros. Aliquam aliquam tellus et felis efficitur, vel placerat lacus lacinia. Praesent nulla erat, tristique id dapibus pulvinar, vestibulum nec nisl.
</p>
