@{
    ViewData["Title"] = "Administrativo";
}

<h2>Administrativo</h2>

<p>Vista de Administrativo</p>

<a class="nav-link" asp-area="" asp-controller="Administrativo" asp-action="BoletaVacaciones">Boleta de Vacaciones</a>
<a class="nav-link" asp-area="" asp-controller="Administrativo" asp-action="FormulariosOficiales">Formularios Oficiales</a>
<a class="nav-link" asp-area="" asp-controller="Administrativo" asp-action="Proveedores">Proveedores</a>
<a class="nav-link" asp-area="" asp-controller="Administrativo" asp-action="SolicitudProveeduria">Solicitud de Proveeduría</a>